<section class="gallery section" id="gallery">
  <div class="gallery__container container">
    <h2 class="gallery__header section__header section__header_dark-bg">
      Art gallery
    </h2>
    <div class="gallery__content section__content">
      <div class="gallery__wrapper">
        <div class="gallery__bottom-overlay"></div>
        <ul class="gallery__list">
          <li class="gallery__column">
            <img src="<%- require('../pictures/gallery/gallery1.jpg') %>" alt="gallery1">
            <img src="<%- require('../pictures/gallery/gallery2.jpg') %>" alt="gallery1">
            <img src="<%- require('../pictures/gallery/gallery3.jpg') %>" alt="gallery1">
            <img src="<%- require('../pictures/gallery/gallery4.jpg') %>" alt="gallery1">
            <img src="<%- require('../pictures/gallery/gallery5.jpg') %>" alt="gallery1">
          </li>
          <li class="gallery__column">
            <img src="<%- require('../pictures/gallery/gallery6.jpg') %>" alt="gallery1">
            <img src="<%- require('../pictures/gallery/gallery7.jpg') %>" alt="gallery1">
            <img src="<%- require('../pictures/gallery/gallery8.jpg') %>" alt="gallery1">
            <img src="<%- require('../pictures/gallery/gallery9.jpg') %>" alt="gallery1">
            <img src="<%- require('../pictures/gallery/gallery10.jpg') %>" alt="gallery1">
          </li>
          <li class="gallery__column">
            <img src="<%- require('../pictures/gallery/gallery11.jpg') %>" alt="gallery1">
            <img src="<%- require('../pictures/gallery/gallery12.jpg') %>" alt="gallery1">
            <img src="<%- require('../pictures/gallery/gallery13.jpg') %>" alt="gallery1">
            <img src="<%- require('../pictures/gallery/gallery14.jpg') %>" alt="gallery1">
            <img src="<%- require('../pictures/gallery/gallery15.jpg') %>" alt="gallery1">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>