<section class="video section" id="video">
  <div class="video__container container">
    <div class="video__header-wrapper">
      <h2 class="video__header section__header">
        Video journey
      </h2>
      <div class="video__subheader">
        Enter and visit one of the most famous museums in the world and enjoy masterpieces such as Mona Lisa or Hammurabi's Code
      </div>
    </div>

    <div class="video__content section__content">
      <div class="video__player">
        <!-- <div class="video__player-play-container">
          <div class="video__player-play-wrapper">
            <button class="video__player-play"></button>
          </div>
        </div> -->
        <!-- <img class="video__img" src="<%- require('../pictures/video/video-img.jpg') %>" alt="video static placeholder"> -->
        <video class="video__img" src="<%- require('../assets/video/videos/video0.mp4') %>" controls poster="<%- require('../pictures/video/video-img.jpg') %>"></video>
        <!-- <div class="video__controls">
          <button class="video__controls-play"></button>
          <input class="video__controls-progress custom-input-range" type="range" value="40" min="0" max="100" step="1" name="progress">
          <button class="video__controls-mute"></button>
          <input class="video__controls-volume custom-input-range" type="range" value="40" min="0" max="100" step="1" name="progress">
          <button class="video__controls-fullscreen"></button>
        </div> -->
      </div>
    </div>

    <div class="video__slider video-slider">
      <div class="video-slider__list-container">
        <ul class="video-slider__list" data-role="content">
          <li class="video-slider__item" data-role="slide" data-index="0">
            <!-- <iframe width="100%" height="100%"
              src="https://www.youtube.com/embed/zp1BXPX8jcU?enablejsapi=1"
              loading="lazy"
              title="Youtube video"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe> -->
            <a href="#video">
              <div class="video-slider__yt-btn"></div>
              <img src="<%- require('../pictures/video/poster0.jpg') %>" alt="video poster">
            </a>
          </li>
          <li class="video-slider__item" data-role="slide" data-index="1">
            <!-- <iframe width="100%" height="100%"
              src="https://www.youtube.com/embed/Vi5D6FKhRmo?enablejsapi=1"
              loading="lazy"
              title="Youtube video"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe> -->
            <a href="#video">
              <div class="video-slider__yt-btn"></div>
              <img src="<%- require('../pictures/video/poster1.jpg') %>" alt="video poster">
            </a>
          </li>
          <li class="video-slider__item" data-role="slide" data-index="2">
            <!-- <iframe width="100%" height="100%"
              src="https://www.youtube.com/embed/NOhDysLnTvY?enablejsapi=1"
              loading="lazy"
              title="Youtube video"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe> -->
            <a href="#video">
              <div class="video-slider__yt-btn"></div>
              <img src="<%- require('../pictures/video/poster2.jpg') %>" alt="video poster">
            </a>
          </li>
          <li class="video-slider__item" data-role="slide" data-index="3">
            <!-- <iframe width="100%" height="100%"
              src="https://www.youtube.com/embed/aWmJ5DgyWPI?enablejsapi=1"
              loading="lazy"
              title="Youtube video"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe> -->
            <a href="#video">
              <div class="video-slider__yt-btn"></div>
              <img src="<%- require('../pictures/video/poster3.jpg') %>" alt="video poster">
            </a>
          </li>
          <li class="video-slider__item" data-role="slide" data-index="4">
            <!-- <iframe width="100%" height="100%"
              src="https://www.youtube.com/embed/2OR0OCr6uRE?enablejsapi=1"
              loading="lazy"
              title="Youtube video"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe> -->
            <a href="#video">
              <div class="video-slider__yt-btn"></div>
              <img src="<%- require('../pictures/video/poster4.jpg') %>" alt="video poster">
            </a>
          </li>
        </ul>
      </div>
      <div class="video-slider__controls" data-role="controls">
        <div class="video-slider__controls-wrapper">
          <button class="video-slider__controls-prev" data-role="prev-btn"></button>
          <div class="video-slider__controls-dots-list">
            <button class="video-slider__controls-dot video-slider__controls-dot_active" data-role="dot" data-index="0"></button>
            <button class="video-slider__controls-dot" data-role="dot" data-index="1"></button>
            <button class="video-slider__controls-dot" data-role="dot" data-index="2"></button>
            <button class="video-slider__controls-dot" data-role="dot" data-index="3"></button>
            <button class="video-slider__controls-dot" data-role="dot" data-index="4"></button>
          </div>
          <button class="video-slider__controls-next" data-role="next-btn"></button>
        </div>
      </div>
    </div>
  </div>
</section>