<section class="visiting section" id="visiting">
  <div class="visiting__container container">
    <h2 class="visiting__header section__header section__header_bottom-line">
      Virtual tour
    </h2>
    <div class="visiting__content section__content">
      <ul class="visiting__list">
        <li class="visiting__item">
          <a href="tours/tour1.html" target="_blank">
            <img class="visiting__img" src="<%= require('../pictures/visiting/tour-0.jpg') %>" alt="">
            <div class="visiting__title">Royal Palace</div>
            <div class="visiting__subtitle">360° Virtual Tour</div>
            <div class="visiting__text">Google Street Panorama View</div>
          </a>
        </li>
        <li class="visiting__item">
          <a href="tours/tour2.html" target="_blank">
            <img class="visiting__img" src="<%= require('../pictures/visiting/tour-1.jpg') %>" alt="">
            <div class="visiting__title">Denon Wing</div>
            <div class="visiting__subtitle">360° Virtual Tour</div>
            <div class="visiting__text">Google Street Panorama View</div>
          </a>
        </li>
        <li class="visiting__item">
          <a href="tours/tour3.html" target="_blank">
            <img class="visiting__img" src="<%= require('../pictures/visiting/tour-2.jpg') %>" alt="">
            <div class="visiting__title">Colonnade Perrault</div>
            <div class="visiting__subtitle">360° Virtual Tour</div>
            <div class="visiting__text">Google Street Panorama View</div>
          </a>
        </li>
        <li class="visiting__item">
          <a href="tours/tour4.html" target="_blank">
            <img class="visiting__img" src="<%= require('../pictures/visiting/tour-3.jpg') %>" alt="">
            <div class="visiting__title">Greek hall</div>
            <div class="visiting__subtitle">360° Virtual Tour</div>
            <div class="visiting__text">Google Street Panorama View</div>
          </a>
        </li>
        <li class="visiting__item">
          <a href="tours/tour5.html" target="_blank">
            <img class="visiting__img" src="<%= require('../pictures/visiting/tour-4.jpg') %>" alt="">
            <div class="visiting__title">Mona Lisa</div>
            <div class="visiting__subtitle">360° Virtual Tour</div>
            <div class="visiting__text">Google Street Panorama View</div>
          </a>
        </li>
        <li class="visiting__item">
          <a href="tours/tour6.html" target="_blank">
            <img class="visiting__img" src="<%= require('../pictures/visiting/tour-5.jpg') %>" alt="">
            <div class="visiting__title">Night Palace</div>
            <div class="visiting__subtitle">360° Virtual Tour</div>
            <div class="visiting__text">Google Street Panorama View</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>