<section class="welcome section">
  <div class="welcome__container container">
    <div class="welcome__inner">
      <h1 class="welcome__title">Welcome<br>to the Louvre</h1>
      <div class="welcome__subtitle">From the castle to the museum</div>
      <a class="welcome__discover-btn" href="tours/tour.html" target="_blank">Discover the Louvre</a>
    </div>
    <div class="welcome__slider welcome-slider">
      <div class="welcome-slider__overlay"></div>
      <div class="welcome-slider__list-container" data-role="container">
        <ul class="welcome-slider__list" data-role="content">
          <li class="welcome-slider__item" data-role="slide" data-index="0">
            <img src="<%= require('../pictures/welcome-slider/1.jpg') %>" alt="slide">
          </li>
          <li class="welcome-slider__item" data-role="slide" data-index="1">
            <img src="<%= require('../pictures/welcome-slider/2.jpg') %>" alt="slide">
          </li>
          <li class="welcome-slider__item" data-role="slide" data-index="2">
            <img src="<%= require('../pictures/welcome-slider/3.jpg') %>" alt="slide">
          </li>
          <li class="welcome-slider__item" data-role="slide" data-index="3">
            <img src="<%= require('../pictures/welcome-slider/4.jpg') %>" alt="slide">
          </li>
          <li class="welcome-slider__item" data-role="slide" data-index="4">
            <img src="<%= require('../pictures/welcome-slider/5.jpg') %>" alt="slide">
          </li>
        </ul>
      </div>
      <div class="welcome-slider__controls-wrapper">
        <div class="welcome-slider__controls" data-role="controls">
          <div class="welcome-slider__counter">
            <span class="welcome-slider__current" data-role="counter-current">01</span>
            &nbsp;|&nbsp;
            <span class="welcome-slider__total" data-role="counter-total">05</span>
          </div>
          <div class="welcome-slider__dots-group">
            <button class="welcome-slider__dot welcome-slider__dot_active" data-role="dot" data-index="0"></button>
            <button class="welcome-slider__dot" data-role="dot" data-index="1"></button>
            <button class="welcome-slider__dot" data-role="dot" data-index="2"></button>
            <button class="welcome-slider__dot" data-role="dot" data-index="3"></button>
            <button class="welcome-slider__dot" data-role="dot" data-index="4"></button>
          </div>
          <button class="welcome-slider__prev-btn" data-role="prev-btn">
            <svg width="30" height="8" viewBox="0 0 30 8" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.72254 8C3.90173 6.31339 1.99422 5.08262 0 4.30769V3.69231C1.99422 2.89459 3.90173 1.66382 5.72254 0H7.23988C6.37283 1.4359 5.53468 2.52991 4.72543 3.28205H30V4.71795H4.72543C5.53468 5.47009 6.37283 6.5641 7.23988 8H5.72254Z"/>
            </svg>
          </button>
          <button class="welcome-slider__next-btn" data-role="next-btn">
            <svg width="30" height="8" viewBox="0 0 30 8" xmlns="http://www.w3.org/2000/svg">
              <path d="M24.2775 1.97284e-06C26.0983 1.68661 28.0058 2.91738 30 3.69231L30 4.30769C28.0058 5.10541 26.0983 6.33618 24.2775 8L22.7601 8C23.6272 6.5641 24.4653 5.47009 25.2746 4.71795L3.48964e-07 4.71795L5.01636e-07 3.28205L25.2746 3.28205C24.4653 2.52992 23.6272 1.4359 22.7601 1.86378e-06L24.2775 1.97284e-06Z"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>