<section class="welcome section">
  <div class="welcome__container container">
    <div class="welcome__inner">
      <h1 class="welcome__title">Welcome<br>to the Louvre</h1>
      <div class="welcome__subtitle">From the castle to the museum</div>
      <a class="welcome__discover-btn" href="tours/tour.html" target="_blank">Discover the Louvre</a>
    </div>
    <div class="welcome__slider welcome-slider">
      <div class="welcome-slider__overlay"></div>
      <div class="welcome-slider__list-container">
        <ul class="welcome-slider__list">
          <li class="welcome-slider__item">
            <img src="<%= require('../pictures/welcome-slider/1.jpg') %>" alt="1">
          </li>
          <li class="welcome-slider__item">
            <img src="<%= require('../pictures/welcome-slider/2.jpg') %>" alt="2">
          </li>
          <li class="welcome-slider__item">
            <img src="<%= require('../pictures/welcome-slider/3.jpg') %>" alt="3">
          </li>
          <li class="welcome-slider__item">
            <img src="<%= require('../pictures/welcome-slider/4.jpg') %>" alt="4">
          </li>
          <li class="welcome-slider__item">
            <img src="<%= require('../pictures/welcome-slider/5.jpg') %>" alt="5">
          </li>
        </ul>
      </div>
      <div class="welcome-slider__controls-wrapper">
        <div class="welcome-slider__controls">
          <div class="welcome-slider__counter">
            <span class="welcome-slider__current">01</span>
            &nbsp;|&nbsp;
            <span class="welcome-slider__total">05</span>
          </div>
          <div class="welcome-slider__dots-group">
            <button class="welcome-slider__dot welcome-slider__dot_active">&nbsp;</button>
            <button class="welcome-slider__dot">&nbsp;</button>
            <button class="welcome-slider__dot">&nbsp;</button>
            <button class="welcome-slider__dot">&nbsp;</button>
            <button class="welcome-slider__dot">&nbsp;</button>
          </div>
          <button class="welcome-slider__prev-btn">&nbsp;</button>
          <button class="welcome-slider__next-btn">&nbsp;</button>
        </div>
      </div>
    </div>
  </div>
</section>