<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="<%= require('./assets/favicon.ico') %>" type="image/x-icon">
  <title>
    Museum
  </title>
</head>
<body>
  <%- require('./templates/header.ejs')() %>
  <main class="main">
    <%- require('./templates/welcome.ejs')() %>
    <%- require('./templates/visiting.ejs')() %>
    <%- require('./templates/explore.ejs')() %>
    <%- require('./templates/video.ejs')() %>
    <%- require('./templates/gallery.ejs')() %>
    <%- require('./templates/booking.ejs')() %>
    <%- require('./templates/tickets.ejs')() %>
    <div class="parallax"></div>
    <%- require('./templates/contacts.ejs')() %>
  </main>
  <%- require('./templates/footer.ejs')() %>
</body>
</html>